%html
	%head
		%meta{:charset => "utf-8"}
		%title Conway's Game of Life
		%meta{:name => "description", :content => ""}
		%meta{:name => "author", :content => ""}

		:plain
			<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
			<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->

		/ include bootstrap and font awesome
		%link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
		%link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel=>"stylesheet"}

		/ add body padding styles
		%link{ :href => "/css/styles.css", :type => "text/css", :rel => "stylesheet" }

		%script{ :type => "text/javascript", :src =>"//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
		%script{ :type => "text/javascript", :src =>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
		%script{ :type => "text/javascript", :src =>"/js/app.js"}

	%body
		%h1 Conway's Game of Life
		
		%div{:id => "game"}
			- board.each_with_index do |row, y|
				%div{:class => "row" }
					%div{:class => "col-md-4", :id => "row#{y}" }
						-row.each_with_index do |state,x| 
							- if state == 1
								- btn = "btn btn-success"
							- else 
								- btn = "btn btn-default"

							%button{:id => "#{y}~#{x}~#{state}", :class => "#{btn}" }


		%form{ :action => "/turn", :id => "form", :method => "post"}		
			%input{:type => "hidden", :value => "#{board}", :name => "board"}
			%input{:type => "submit", :value => "turn", :class => "button"}
